<!DOCTYPE html>
<html>
<head>
{% load static %}
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
{% for settings in settings.all|slice:"1" %}
<title>{{ settings.name }}</title>
<meta name="keywords" content="{{settings.keywords}}" />
<meta name="description" content="{{settings.description}}" />
<link rel="icon" type="image/x-icon" href="media/{{settings.icons}}"/>
<link rel="stylesheet" type="text/css" href="{% static 'layui/css/layui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'moge/css/zl.css' %}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	<div class="layui-header">
		<div class="layui-logo">战狼论坛</div>
		{% if request.user.is_authenticated %}
		<ul class="layui-nav layui-layout-right">
			<li class="layui-nav-item">
				<a href="javascript:;"><img src="media/{{ request.user.avatar }}" class="layui-nav-img">我</a>
				<dl class="layui-nav-child">
					<dd><a href="/logout/">注销</a></dd>
				</dl>
			</li>
		</ul>
		{% else %}
		<ul class="layui-nav layui-layout-right">
			<li class="layui-nav-item"><a href="/login/" id="login">登录</a></li>
			<li class="layui-nav-item"><a href="/reg/" id="reg">注册</a></li>
		</ul>
		{% endif %}
	</div>
</div>
<div class="bg">
	<div class="main">
		<div class="logo">
			<img src="media/{{settings.logo_pic}}">
		</div>
		<!-- aqq start -->
		{% for guanggao in guanggao.all|slice:":10" %}
		<div class="aqq">
			<a href="{{ guanggao.href }}" target="_blank">
				<img src="/media/{{ guanggao.image }}">
			</a>
		</div>
		{% endfor %}
		<!-- aqq end -->
		<!-- open new s -->
		<div class="news">
			<div class="news-open" id="news">
				<div class="nob issues" id="OpenIssues"></div>
				<div id="no1" class="nob">
					<div class="up1"></div>
					<div class="down1"></div>
				</div>
				<div id="no2" class="nob">
					<div class="up2"></div>
					<div class="down2"></div>
				</div>
				<div id="no3" class="nob">
					<div class="up3"></div>
					<div class="down3"></div>
				</div>
				<div id="no4" class="nob">
					<div class="up4"></div>
					<div class="down4"></div>
				</div>
				<div id="no5" class="nob">
					<div class="up5"></div>
					<div class="down5"></div>
				</div>
				<div id="no6" class="nob">
					<div class="up6"></div>
					<div class="down6"></div>
				</div>
				<div class="nob add">+</div>
				<div id="no7" class="nob">
					<div class="up7"></div>
					<div class="down7"></div>
				</div>
			</div>
			<div class="refalsh-btn">
				<button class="layui-btn layui-btn-warm" id="refalsh">刷新</button>
			</div>
			<div id="OpennewDesc">
				<!-- 填充数据 -->
			</div>
		</div>
		<!-- open new end -->
		<!-- open history start -->
		<div class="open" style="background: url('/media/{{settings.water_pic}}');background-size: 200px 200px;">
		{% autoescape off %}
			{% for open in open.all|slice:":5" %}
			<div class="open-top" style="text-align: center;">{{ open.top }}</div>
			{{ open.desc }}
			{% endfor %}
		{% endautoescape %}
		</div>
		<!-- bbs start -->
		<!-- ======================= -->
		<!-- bbs end -->
		<!-- bottom info -->
		<div class="bottom">
			{% for bottoms in bottoms.all|slice:":1" %}
				{% autoescape off %}
					{{ bottoms.desc }}
				{% endautoescape %}
				<div class="explain">{{ bottoms.explain }}</div>
			{% endfor %}
		</div>
	</div>
	<!-- flaot -->
	{% for piaochuan in piaochuan.all|slice:":1" %}
	<div class="piaochuan1" id="piaochuan1">
		<div class="close1" id="close1">X</div>
		<a href="{{ piaochuan.leftt_herf }}" target="_blank">
			<img lay-src="/media/{{ piaochuan.leftt }}">
		</a>
	</div>
	<div class="piaochuan2" id="piaochuan2">
		<div class="close2" id="close2">X</div>
		<a href="{{ piaochuan.rightt_herf }}" target="_blank">
			<img lay-src="/media/{{ piaochuan.rightt }}">
		</a>
	</div>
	{% endfor %}
	<!-- flaot end -->
	{% endfor %}
</div>
<script src="{% static '/layui/layui.js' %}"></script>
<script src="{% static '/moge/js/zl.js' %}"></script>
<script type="text/javascript">
{% for opennew in opennew.all|slice:":1" %}
function OpenNewShow(){
	document.getElementById("OpenIssues").innerHTML = "{{ opennew.issue }}:";
	var data = ['{{opennew.no1}}','{{opennew.no2}}','{{opennew.no3}}','{{opennew.no4}}','{{opennew.no5}}','{{opennew.no6}}','{{opennew.no7}}']
	for(i=0;i<7;i++){
		if(data[i]>=0 && data[i]<=49){
			data[i] = parseInt(data[i])
		}else{
			data[i] = 0
		}
	}
	writer(data)
	document.getElementById("OpennewDesc").innerHTML = "{% autoescape off %}{{ opennew.desc }}{% endautoescape %}";
}
OpenNewShow()
{% endfor %}
//

//
layui.use('layer', function(){
	var $ = layui.jquery, layer = layui.layer; 
	var box = document.getElementById("refalsh");
	box.onclick = function(){
		layer.load(2);
		$.ajax({
			cache: false,
			type: "POST",
			url: "/",
			data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
			async: true,
			success: function(data) {
				ReWriter(data)
				layer.closeAll('loading');
			},
			error: function(){
				layer.closeAll('loading');
				layer.msg('获取失败...请稍后再试...');
			}
		});
	};

})
function ReWriter(data){
	for(i=0;i<7;i++){
		if(data[i]>=0 && data[i]<=49){
			data[i] = parseInt(data[i])
		}else{
			data[i] = 0
		}
	}
	writer(data)
}
// 
layui.use(['layer', 'element', 'flow'], function(){
	var element = layui.element;// layer 导航栏效果
	var flow = layui.flow;// 图像懒加载 src改为lay-src
	flow.lazyimg(); 
});
</script>
</body>
</html>
