<!DOCTYPE html>
<html>
<head>
{% load static %}
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
<title>test</title>
<meta name="keywords" content="{{settings.keywords}}" />
<meta name="description" content="{{settings.description}}" />
<link rel="icon" type="image/x-icon" href="media/{{settings.icons}}"/>
<link rel="stylesheet" type="text/css" href="{% static 'layui/css/layui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'moge/css/zl.css' %}">

</head>
<body class="layui-layout-body">
<div class="bg">
	<div class="main">
		<!-- bbs start -->

		<!-- bbs end -->
		<!-- bottom info -->

	</div>

</div>
<script src="{% static '/layui/layui.js' %}"></script>
<script src="{% static '/moge/js/zl.js' %}"></script>
<script type="text/javascript">
//
layui.use(['layer', 'element', 'form'], function(){
	var $ = layui.jquery;
	var layer = layui.layer; 
	


})
//
</script>
</body>
</html>
